header {
  background-color: blue;
  color: rgba(255,255,255,0.5);
}

.container {
  background-color: orange;
}

.square {
  background-color: #00FFFF;
  color: #0000A0;
  margin: 100px 100px 100px 100px;
  border: 50px solid #DAA520;
 }